/* styles.css */

body {
    margin: 0;
    padding: 0;
    color: #ededed;
    background: #081b29;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    
}
.footer{
    background-color: #051129;
}


.navbar {
    background-color: #051129;
    color: #ffffff;
    padding: 15px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover {
    color: #0ef;
}

.logo {
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #ccc;
}

.section {
    padding: 50px 0;
}
.container h3 {
    font-size: 18px;
    padding: auto;
    line-height: .8;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.container h3 span {
    color: #0ef;
    font-size: 16px;
    
}
.container h4 {
    font-size: 35px;
    font-weight: 700;
    margin: -3px 0;
    text-shadow: 5px 7px 5px red ;
    color:skyblue;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}
.container p{
    line-height: 1.8;
}

.skills {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .skill {
    margin-bottom: 10px;
  }
  
  .skill p {
    margin: 0;
  }
  
  .bar {
    height: 20px;
    background-color: #ddd;
    position: relative;
    overflow: hidden;
  }
  
  .bar span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(231, 245, 78);
    text-align: center;
    line-height: 20px;
    display: none;
  }
  
  .bar:hover span {
    display: block;
  }
  
  .html::before { content: attr(data-level); }
  .css::before { content: attr(data-level); }
  .javascript::before { content: attr(data-level); }
  .jquery::before { content: attr(data-level); }
  .bootstrap::before { content: attr(data-level); }
  .react::before { content: attr(data-level); }
  
  .html { width: 90%; background-color: #4CAF50;border: wheat solid 1px; }
  .css { width: 85%; background-color: #4CAF50; }
  .javascript { width: 70%; background-color: #4CAF50; }
  .jquery { width: 75%; background-color: #4CAF50; }
  .bootstrap { width: 75%; background-color: #4CAF50; }
  .react { width: 70%; background-color: #4CAF50; }
  

.project {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.container h2{
    font-size: 30px;
    line-height: 2;
    text-align: center;
    color: #0ef;
  }
  .container h2 span{
    color: #0ef;
  }
  .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-left, minmax(359px ,auto));
  }
  .row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
  }
  .row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
  }
  .layer{
    width: 100%;
    height: 0;
    background: radial-gradient(rgba(0,0,0,0.1),rgb(185, 205, 206));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: height 0.5s;
  }
  .layer h5{
    color: rgb(212, 219, 26);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: -10px;
  }
  .layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
  }
  .layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .row:hover img{
    transform: scale(1.2);
  }
  .row:hover .layer{
    height: 100%;
  }
 

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form textarea {
    height: 100px;
}

#contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #0056b3;
}


/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer p{
    font-size: 12px;
    line-height: 1.3;
}
.footer-columns {
    display: flex;
    justify-content:center;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column:last-child {
    margin-right: 0;
}

.footer h3 {
    margin-bottom: 10px;
}

.social-media-list {
    list-style: none;
    padding: 0;
}

.social-media-list li {
    display: inline-block;
    margin-right: 10px;
}

.social-media-list li:last-child {
    margin-right: 0;
}

.social-media-list a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 0.2rem solid red;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    /* transition: .5s ease;
    /* opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0; */ 

}
.social-media-list a:hover {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
































@keyframes slideRight {
    0% {
        transform: translateX(-800px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
        color: rgb(68, 255, 0);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

